PUID=1000
PGID=1000
TZ=Europe/Amsterdam

# echo -n 'base64:'; openssl rand -base64 32;
APP_KEY=
DB_CONNECTION=sqlite
SPEEDTEST_SCHEDULE='6 */2 * * *'
PRUNE_RESULTS_OLDER_THAN=7
SPEEDTEST_HTTP_PORT=6580
SPEEDTEST_HTTPS_PORT=6443
SPEEDTEST_DATA_PATH=/opt/docker/speedtest-tracker/data
SPEEDTEST_SSL_PATH=/opt/docker/speedtest-tracker/ssl