#PUID=1000
#PGID=1000
TZ=Europe/Amsterdam

LUCKPERMS_STORAGE_METHOD=mariadb
LUCKPERMS_DATA_ADDRESS=database:3306
LUCKPERMS_DATA_DATABASE=luckperms
LUCKPERMS_DATA_USERNAME=
LUCKPERMS_DATA_PASSWORD=
LUCKPERMS_RESTAPI_PORT=8080
LUCKPERMS_RESTAPI_AUTH=false