PUID=1000
PGID=1000
TZ=Europe/Amsterdam

ACME_EMAIL=no-reply@youremail.local
ACME_SERVER=

NPM_PORT=81
GOA_PORT=91

MAXMIND_ACCOUNT_ID=your_account_id
MAXMIND_LICENSE_KEY=your_license_key

LOGROTATE=true
LOGROTATIONS=7